 #jeu
            {
                width: 250px;
                height: 250px;
                background-color: black;
                border: 1px solid #yellow;
                margin: 50px auto;
                box-shadow: 3px 8px 3px red;
                padding: 10px;
                overflow:auto ;
            }
            
            #jeu div 
            {
                width: 190px;
                margin: auto;
                clear: both;
            }
            
            #jeu button 
            {
                width: 50px;
                height: 50px;
                margin: 5px;
                float: left;
                font-weight: bold;
                    
            }
            
            #gameStatus
            {
                color: white;
                padding: 15px 10px;
            }
